@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "rembank";
	src: url("./fonts/Rembank.otf") format("opentype"),
		url("./fonts/Rembank.woff") format("woff"),
		url("./fonts/Rembank.woff2") format("woff2");
}

@layer base {
	body {
		font-family: "montserrat";
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		@apply text-lightblack bg-white;
	}
}

@layer components {
	.container {
		@apply max-w-[1075px];
	}

	.middle__content {
		@apply min-h-full flex-auto;
	}

	.corusel__content {
		@apply flex gap-5 flex-nowrap overflow-x-scroll scroll-smooth  snap-x;
	}

	.containerCorusel {
		@apply max-w-[1110px]  mx-auto w-full px-5;
	}

	.a-hover {
		@apply relative;
		&:hover,
		&:focus {
			@apply text-lightred outline-none;

			&:after {
				content: "";

				@apply h-[1px] bg-lightred absolute w-full left-0 -bottom-[3px];
			}
		}
	}
}

#root {
	height: 100%;
}

html {
	height: 100%;
}

body {
	height: 100%;

	&::-webkit-scrollbar {
		width: 5px;
		border-radius: 20px;

		&-thumb {
			background-color: #8e8e8e;
			border-radius: 5px;
		}
	}

	background-color: white;
}

.scroll {
	&::-webkit-scrollbar {
		width: 5px;
		border-radius: 20px;

		&-thumb {
			background-color: none;
			border-radius: 5px;
		}
	}
}
