@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		font-family: "montserrat";
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		@apply text-lightblack bg-white;
	}
}

@layer components {
	.container {
		@apply max-w-[1075px];
	}
	.containerCorusel {
		@apply max-w-[1110px] mx-auto w-full px-5;
	}
}

#root {
	height: 100%;
}

html {
	height: 100%;
}

body {
	height: 100%;

	&::-webkit-scrollbar {
		width: 5px;
		border-radius: 20px;

		&-track {
			background-color: none;
			opacity: 0;
		}

		&-thumb {
			background-color: #8e8e8e;
			border-radius: 5px;
		}
	}

	background-color: white;
}

.scroll {
	&::-webkit-scrollbar {
		width: 5px;
		border-radius: 20px;

		&-track {
			background-color: none;
			opacity: 0;
		}

		&-thumb {
			background-color: none;
			border-radius: 5px;
		}
	}
}

.a-hover {
	@apply relative;
	&:hover,
	&:focus {
		@apply text-lightred outline-none;

		&:after {
			content: "";

			@apply h-[1px] bg-lightred absolute w-full left-0 -bottom-[3px];
		}
	}
}

.middle__content {
	@apply min-h-full flex-auto;
}
